<!-- monitor.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Camera Feed</title>
</head>
<body>
    <h1>Camera Feed</h1>
    <div>
        <video id="cameraFeed" autoplay></video>
    </div>
    <button onclick="startCamera()">Start Camera</button>
    <button onclick="redirectToAuthorization()">Redirect</button>

    <script>
        async function startCamera() {
            try {
                const stream = await navigator.mediaDevices.getUserMedia({ video: true });
                const videoElement = document.getElementById('cameraFeed');
                videoElement.srcObject = stream;
            } catch (error) {
                console.error('Error accessing camera:', error);
            }
        }

        function redirectToAuthorization() {
            window.location.href = "/drowsy"; // Replace with your desired URL
        }
    </script>
</body>
</html>

