<!DOCTYPE html>
<html>
<head>
    <title>Object and Gender Detection</title>
</head>
<body>
    <h1>Object and Gender Detection</h1>
    <div>
        <img id="cameraFeed" alt="Camera Feed" />
    </div>
    <button onclick="redirectToAuthorization()">Redirect Button</button>

    <script>
        function redirectToAuthorization() {
            window.location.href = "/drowsy";
        }

        function updateCameraFeed() {
            var img = document.getElementById('cameraFeed');
            img.src = "{% url 'monitor' %}" + "?t=" + new Date().getTime(); // Add timestamp to prevent caching
            setTimeout(updateCameraFeed, 1000); // Update every second
        }

        // Start updating camera feed when the page loads
        window.onload = function() {
            updateCameraFeed();
        };
    </script>
</body>
</html>
